In [1]:
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

In [492]:
with open(r'api_key.txt', 'r') as file:
    api_key = file.readline()

In [123]:
url_austin = r'https://en.wikipedia.org/wiki/List_of_Austin_neighborhoods'

In [186]:
table_austin = pd.read_html(url_austin)
table_austin = table_austin[0]
table_austin.drop(['COA ID#[nb 1]'], axis=1, inplace = True)
austin_neighborhoods = table_austin
austin_neighborhoods.rename(columns={'Name':'Neighborhood'}, inplace=True)
austin_neighborhoods.head()

      Neighborhood
0     Bryker Woods
1  Caswell Heights
2  Downtown Austin
3        Eastwoods
4          Hancock

In [17]:
url_dallas = r'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Dallas'

In [127]:
table_dallas = pd.read_html(url_dallas)
table_dallas_concat = pd.DataFrame(columns=["Neighborhood"])
for i in range(1, len(table_dallas)):
    temp_table = pd.DataFrame(table_dallas[i].iloc[:,1])
    temp_table.rename(columns={temp_table.columns[0]:"Neighborhood"}, inplace=True)
    table_dallas_concat = table_dallas_concat.append(temp_table, ignore_index=True)
    temp_table = []
dallas_neighborhoods = table_dallas_concat
dallas_neighborhoods.head()

            Neighborhood
0        Baylor District
1             The Cedars
2  Civic Center District
3   Dallas Arts District
4  Dallas Farmers Market

In [138]:
url_chicago = r'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago'
#url_chicago = r'https://en.wikipedia.org/w/index.php?title=List_of_neighborhoods_in_Chicago&action=edit&section=1'

In [147]:
table_chicago = pd.read_html(url_chicago)
table_chicago = table_chicago[0]
table_chicago.drop(['Community area'], axis=1, inplace=True)
chicago_neighborhoods = table_chicago
chicago_neighborhoods.head()
#table_chicago.drop(['COA ID#[nb 1]'], axis=1, inplace=True)
#table_chicago.head(50)

      Neighborhood
0      Albany Park
1  Altgeld Gardens
2    Andersonville
3   Archer Heights
4    Armour Square

In [208]:

import re
import requests
from bs4 import BeautifulSoup

In [514]:
jacksonville_neighborhoods = pd.DataFrame(columns=['Neighborhood'])
jacksonville_neighborhoods

Empty DataFrame
Columns: [Neighborhood]
Index: []

In [515]:
url_string=r'https://www.conservapedia.com/Neighborhoods_of_Jacksonville,_Florida'
page=requests.get(url_string)
page=page.text
soup=BeautifulSoup(page,features="html.parser")
results=soup.find_all("li", class_="toclevel-2")
for index, item in enumerate(results):
    area = item.find("span", class_="toctext").text
    jacksonville_neighborhoods = jacksonville_neighborhoods.append({'Neighborhood':area}, ignore_index=True) 
jacksonville_neighborhoods.head()
#for item in results:
#    print(item.text)

        Neighborhood
0             Argyle
1           Avondale
2        Cedar Hills
3  Confederate Point
4         Lake Shore

In [516]:
jacksonville_neighborhoods['Neighborhood'] = jacksonville_neighborhoods['Neighborhood'].map(lambda x: x +', Jacksonville, '+ 'Fl')
#mod_jacksonville_neighborhoods.rename(columns={0:'Neighborhood'}, inplace=True)
jacksonville_neighborhoods.head()

                          Neighborhood
0             Argyle, Jacksonville, Fl
1           Avondale, Jacksonville, Fl
2        Cedar Hills, Jacksonville, Fl
3  Confederate Point, Jacksonville, Fl
4         Lake Shore, Jacksonville, Fl

In [257]:
import json
from pandas.io.json import json_normalize

In [522]:
def get_lng_lat_zip(neighborhoods):
    location_lng_lat=pd.DataFrame(columns=['Latitude', 'Longitude'])
    for i in range(len(neighborhoods)):
        url = r'https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(neighborhoods['Neighborhood'][i], api_key)
        r = requests.get(url)
        json_r = json.loads(r.text)
        try:
            location_pd = json_normalize(json_r['results'])
            location_lng_lat_temp =  location_pd[['geometry.location.lat', 'geometry.location.lng']]
            location_lng_lat_temp.columns=['Latitude', 'Longitude']
            location_lng_lat = pd.concat([location_lng_lat, location_lng_lat_temp], ignore_index=True)
        except:
            continue
            
    return location_lng_lat

In [523]:
jacksonville_neighborhoods_zip = get_lng_lat_zip(jacksonville_neighborhoods)
jacksonville_neighborhoods_zip.head()

    Latitude  Longitude
0  30.196921 -81.756282
1  30.296769 -81.710315
2  30.253614 -81.756138
3  30.256893 -81.736310
4  30.280630 -81.726734

In [542]:
jacksonville_nb_lng_lat = pd.concat([jacksonville_neighborhoods,
                                     jacksonville_neighborhoods_zip],
                                    axis=1)
jacksonville_nb_lng_lat.head()

                          Neighborhood   Latitude  Longitude
0             Argyle, Jacksonville, Fl  30.196921 -81.756282
1           Avondale, Jacksonville, Fl  30.296769 -81.710315
2        Cedar Hills, Jacksonville, Fl  30.253614 -81.756138
3  Confederate Point, Jacksonville, Fl  30.256893 -81.736310
4         Lake Shore, Jacksonville, Fl  30.280630 -81.726734

In [538]:
def zip_nb(neighborhoods):
    #zip_pd = pd.DataFrame(columns=['zip_code'])
    zip_pd_temp = []
    for i in range(len(neighborhoods)):
        url_2 = 'https://maps.googleapis.com/maps/api/geocode/json?latlng={},{}&key={}'.format(neighborhoods['Latitude'][i], neighborhoods['Longitude'][i],api_key)
        r = requests.get(url_2)
        json_r = json.loads(r.text)
        location_pd_3 = json_normalize(json_r['results'][0]['address_components'])
        count=0
        for line in location_pd_3.values:
            if 'postal_code' in line[2]:
                zip_code = line[0]
                count=1
            if count != 1:
                zip_code = 'NA'    
        zip_pd_temp.append(zip_code)
        count=0
    zip_pd = pd.DataFrame(zip_pd_temp, columns = ['zip_code'])
    return(zip_pd)

In [539]:
jacksonville_zip_pd = zip_nb(jacksonville_nb_lng_lat)
jacksonville_zip_pd.head()

  zip_code
0    32244
1    32205
2    32210
3    32210
4    32210

In [543]:
jacksonville_zip_lng_lat = pd.concat([jacksonville_nb_lng_lat,
                                     jacksonville_zip_pd],
                                    axis=1)
jacksonville_zip_lng_lat.head()

                          Neighborhood   Latitude  Longitude zip_code
0             Argyle, Jacksonville, Fl  30.196921 -81.756282    32244
1           Avondale, Jacksonville, Fl  30.296769 -81.710315    32205
2        Cedar Hills, Jacksonville, Fl  30.253614 -81.756138    32210
3  Confederate Point, Jacksonville, Fl  30.256893 -81.736310    32210
4         Lake Shore, Jacksonville, Fl  30.280630 -81.726734    32210

In [482]:
dallas_neighborhoods_zip = get_lng_lat_zip(dallas_neighborhoods)
dallas_neighborhoods_zip.head()

C:\Users\gtm12\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Longitude    Latitude zip_code
0  33.537393  -99.278558       NA
1  38.379907  -97.652883    67460
2  37.781553 -122.415643    94102
3  32.789731  -96.798262       NA
4  32.777505  -96.789975    75201

In [484]:
dallas_nb_lng_lat = pd.concat([dallas_neighborhoods,
                                     dallas_neighborhoods_zip],
                                    axis=1)
dallas_nb_lng_lat

,Neighborhood,Longitude,Latitude,zip_code
0,Baylor District,33.537393,-99.278558,NA
1,The Cedars,38.379907,-97.652883,67460
2,Civic Center District,37.781553,-122.415643,94102
3,Dallas Arts District,32.789731,-96.798262,NA
4,Dallas Farmers Market,32.777505,-96.789975,75201
5,Deep Ellum,32.784392,-96.780185,NA
6,Design District,25.813422,-80.193428,NA
7,Main Street District,32.781379,-96.796922,NA
8,Reunion District,32.776934,-96.806842,75202
9,Riverfront District,40.484183,-86.130962,46901
10,South Side,40.429236,-79.985886,15203
11,Thanksgiving Commercial Center,32.801556,-96.800270,NA
12,Uptown,32.791219,-96.809646,NA
13,Victory Park,32.780132,-96.806967,NA
14,West End Historic District,42.915222,-85.647754,49507
15,website Alger Park/Ash Creek,37.338390,-95.263849,67357
16,Belmont,32.791958,-96.699993,NA
17,Buckner Terrace,32.840081,-96.757139,75214
18,Caruth Terrace,32.825877,-96.692071,75228
19,website Casa Linda Estates,32.820708,-96.698902,75218
20,Casa Linda Park,32.822361,-96.669115,75228
21,website Casa View,32.845700,-96.675373,75228
22,Casa View Haven,32.836543,-96.671831,75228
23,website Claremont,34.077266,-117.744942,91767
24,Claremont Park,40.840900,-73.907551,10457
25,Eastwood,36.148955,-95.875285,74112
26,Edgemont Park,42.746702,-84.593592,48917
27,Forest Hills,40.718106,-73.844847,11375
28,Gaston Park,33.051367,-97.070180,75028
29,website Greenland Hills,32.825777,-96.770833,75206
30,Hillridge,36.015959,-78.441423,27596
31,Hollywood Heights,49.315979,-123.070516,27596
32,Junius Heights,34.106667,-118.340000,90068
33,website Lake Park Estates,32.459959,-93.818262,90068
34,Lakewood,32.806368,-96.740125,90068
35,website Lakewood Heights,32.456828,-93.816089,90068
36,website Lakewood Trails,35.050163,-78.982529,90068
37,Little Forest Hills,38.632549,-89.996493,90068
38,Lochwood,38.637166,-89.985913,90068
39,Lower Greenville,32.451264,-93.819738,90068
40,North Stonewall Terrace,34.108132,-118.337779,90068
41,Old Lake Highlands,32.459671,-93.818351,90068
42,website Ridgewood Park,32.806127,-96.756814,75214
43,Santa Monica,32.979672,-96.763734,75080
44,Stonewall Terrace,39.704709,-105.081373,NA
45,University Meadows,45.314227,-65.979606,E2J 3P3
46,website Vickery Place,41.430202,-88.267559,60447
47,website White Rock,37.376307,-76.843202,60447
48,Wilshire Heights,32.821980,-96.707929,75218
49,Old East Dallas,32.852244,-96.693220,75218
50,Baylor/Meadows,32.823859,-96.767977,NA
51,Belmont Park,32.856998,-96.709266,NA
52,website Bryan Place,32.846466,-96.744148,75214
53,Deep Ellum,34.019454,-118.491191,NA
54,website Munger Place Historic District,33.875135,-84.465449,30339
55,Peak's Suburban Addition,33.875298,-84.465483,30339
56,website Swiss Avenue,42.849439,-71.179822,30339
57,Abrams Place,37.045466,-76.423249,30339
58,Alexander's Village,40.666750,-75.199056,30339
59,Boundbrook Oaks Estates,36.093092,-96.313457,30339
60,Chimney Hill,42.017793,-70.778724,30339
61,Copperfield Community,32.847964,-83.663055,30339
62,Country Forest,32.390304,-87.010752,30339
63,Forest Highlands,38.702794,-90.308601,63121
64,Glen Oaks,32.821040,-96.777507,75206
65,Hamilton Park,49.018996,-122.780222,V4B 4X4
66,Highlands West,30.005402,-90.130704,70005
67,Highland Meadows,32.833427,-96.756091,70005
68,High Oaks Addition,39.941969,-83.077074,70005
69,Jackson Meadow,32.216706,-110.872987,70005
70,website L Streets,32.214938,-110.872429,70005
71,Lake Highlands,32.799309,-96.776480,NA
72,Lake Highlands Estates,31.549701,-97.114305,76706
73,Lake Highlands North,32.770641,-117.252069,92109
74,Lake Highlands Square,32.793665,-96.790993,75204
75,Lake Ridge Estates,32.784392,-96.780185,NA
76,website Merriman Park Estates,32.802417,-96.763723,75214
77,Merriman Park North,32.805168,-96.759081,75214
78,Moss Farm,32.798868,-96.772152,NA
79,Moss Meadows,32.808464,-96.763452,NA
80,website Northwood Heights,32.877042,-96.741870,75231
81,Oak Highlands,40.646801,-73.676995,75231
82,Oak Tree Village,43.751980,-79.375914,75231
83,Pebble Creek,40.618627,-73.745355,75231
84,Richland Park Estates,33.204807,-87.489978,75231
85,Rolling Trails,35.333423,-80.752122,28262
86,Royal Highlands,40.568436,-74.538489,08805
87,Royal Highlands Village,32.910237,-96.726840,75243
88,Stultz Road,29.894905,-95.641433,77095
89,Town Creek,44.949209,-90.600516,54498
90,Royal Lane Village,35.103627,-111.704620,86005
91,Walnut Creek Estates,41.548625,-93.781371,50266
92,website Whispering Hills,40.727705,-74.046903,07302
93,White Rock Valley,35.345333,-97.513218,73160
94,website Woodbridge,35.010589,-89.991256,38116
95,Woodlands on the Creek,30.405515,-97.748800,78759
96,University Manor,45.193727,-92.783750,55047
97,website University Terrace,32.868511,-96.703917,75238
98,website Urban Reserve,32.887436,-96.717291,NA
99,website Bent Tree,32.864602,-96.704572,75238
100,website Bluffview,32.884786,-96.729079,75238
101,website Devonshire,32.885759,-96.727946,75238
102,website Elm Thicket,32.886127,-96.718069,75238
103,website Greenway Parks,30.327702,-97.876582,78733
104,Preston Center,32.863876,-96.749987,75231
105,website Preston Hollow,32.847624,-96.745322,75231
106,Vickery Meadows,32.879591,-96.739845,75231
107,Far North Dallas,32.857621,-96.756542,75231
108,website Bent Tree,34.941876,-92.511886,72135
109,website Preston Highlands,32.887467,-96.743511,75231
110,Timberglen,32.890145,-96.704578,75238
111,website Far North Dallas,36.034032,-86.679994,75238
112,website Melshire Estates,36.033251,-86.682927,75238
113,website Northwood Hills,34.051837,-116.952804,92399
114,Platinum Corridor,35.394536,-97.716775,73064
115,Arlington Park,44.047184,-103.192162,57701
116,Asian Trade District,32.439521,-97.176279,76009
117,Bachman,28.661475,-81.858820,34748
118,Design District,32.888931,-96.722875,75238
119,Love Field,36.217386,-94.152577,NA
120,Shannon Estates,39.738633,-77.321456,NA
121,Stemmons Corridor,36.221449,-94.144023,NA
122,Arcadia Park,36.706991,-79.887325,NA
123,Beckley Club Estates,39.238207,-86.782640,NA
124,website Bishop Arts District,37.160543,-91.961993,NA
125,website Elmwood,46.010412,-65.263957,NA
126,Stevens Park Estates,41.143402,-83.343758,NA
127,website Stevens Park Village,34.681201,-87.406134,35672
128,Western Park,32.895591,-96.882445,75229
129,website Winnetka Heights,35.595863,-97.643283,73142
130,Wynnewood,35.106737,-114.153277,73142
131,East Kessler Park,38.904249,-94.687512,66213
132,Kessler Highlands,32.871761,-96.728326,75238
133,Kessler Park Estates,43.773967,-79.604548,L4L 8K5
134,Kessler Plaza,32.896889,-96.731462,75243
135,Kessler Square,42.520239,-92.456606,50613
136,website West Kessler,32.446888,-93.745668,71106
137,website Kidd Springs,44.487000,-73.229177,05401
138,website Kings Highway Conservation District,32.900271,-96.752050,05401
139,Lake Cliff,34.475996,-84.353265,30143
140,L.O. Daniel,33.012402,-97.074827,75022
141,Redbird,38.613404,-92.131604,65043
142,Elderwoods/Elderoaks,32.829412,-96.787344,75205
143,Glenn Oaks,32.863998,-96.803733,75225
144,Wynnewood Hills,32.892912,-96.805900,75230
145,Cityplace,32.875657,-96.754742,75231
146,Uptown,32.962097,-96.786384,NA
147,website International Center,34.475996,-84.353265,30143
148,LoMac,33.169604,-96.809646,75034
149,Knox Park,33.005455,-96.849397,75287
150,website Perry Heights,32.935873,-96.812369,75240
151,State Thomas,32.947006,-96.777681,75254
152,website Turtle Creek,33.101060,-96.825459,75034
153,website Oak Lawn,42.093185,-88.010114,60005
154,website Victory Park,32.766267,-96.786452,75215
155,website West Village,38.219847,-85.577335,40299
156,Arnold's Station,25.813422,-80.193428,NA
157,Buckner Park,32.848103,-96.851206,75235
158,Cedar Run,41.718636,-88.010242,60517
159,El Barrio (Little Mexico),32.800955,-96.819550,75207
160,Elam,33.487441,-111.960871,85018
161,Fireside,32.829442,-96.633750,75150
162,Kleberg,32.749320,-96.831995,75208
163,Lake June,32.748286,-96.828443,75208
164,Parkdale,32.747256,-96.830410,75208
165,Pemberton Hill,41.418087,-81.605994,44125
166,Piedmont,41.926375,-87.818681,44125
167,Pleasant Grove,32.756332,-96.846950,75208
168,Pleasant Hills,32.756286,-96.854638,75208
169,Pleasant Mound,32.761144,-96.857656,75211
170,Riverway Estates/Bruton Terrace,36.052305,-94.196583,72704
171,Rylie,32.745713,-96.845820,75208
172,Seagoville/Dallas,32.749354,-96.841857,75208
173,Scyene,39.999591,-75.273018,NA
174,Spruce Square,32.758638,-96.836159,NA
175,Urbandale,32.763041,-96.846413,75208
176,Woodland Springs,32.763018,-96.822560,75203
177,Bonton,32.762788,-96.851993,75208
178,Dixon Circle,32.755663,-96.843087,75208
179,Highland Hills,32.753694,-96.833672,75208
180,Cedar Crest,32.757079,-96.817683,75203
181,Skyline Heights,40.884254,-74.279585,07004
182,Exposition Park,34.050500,-118.244078,90012
183,Fair Park,32.663344,-96.855014,75232
184,Mill City,41.892436,-85.496820,49032
185,Owenwood,32.721200,-96.834275,75224
186,Jubilee Park,26.707476,-80.056611,33401
187,Dolphin Heights,32.801556,-96.800270,NA
188,Wheatley Place,41.835686,-87.625407,60616
189,Monterey Gardens,41.911906,-72.614154,06088
190,Edgewood (see South Boulevard/Park Row),42.326114,-88.271058,60050
191,South Boulevard/Park Row,37.981456,-87.646398,47712
192,Magnolia Park,32.798078,-96.796877,75204
193,Alta Park,36.675137,-93.252523,65616
194,Eagle Ford,41.723378,-87.785714,60453
195,website Greenleaf Village,32.783867,-96.809563,75202
196,La Bajada,40.736551,-74.006369,10014
197,La L'aceate,35.382862,-86.030331,37388
198,La Loma,41.091023,-85.222063,46818
199,Lake West,35.059599,-89.865694,38115
200,Ledbetter Gardens,33.516664,-86.802907,35203
201,Los Altos,42.289502,-71.063154,35203
202,Muncie,32.719989,-96.662350,75217
203,Western Heights,36.041155,-95.963097,74137
204,Westmoreland Heights,27.517036,-97.867890,78363
205,This section is empty. You can help by adding ...,37.779783,-119.075423,93529
206,History Mayors People Culture Climate Transpor...,43.643832,-79.442534,NA
207,Asian Trade District Bishop Arts District Casa...,32.724475,-96.717722,75217
208,Dallas Cowboys Dallas Mavericks Dallas Stars F...,45.052237,7.515389,NA
209,All Dallas articles Texas Portal State of Texas,37.824406,-122.231487,NA
210,NaN,40.364118,-111.738540,NA
211,NaN,40.335625,-79.960607,NA
212,NaN,38.863102,-89.290352,62284
213,NaN,32.763395,-96.665498,NA
214,NaN,32.690687,-96.637494,75217
215,NaN,32.639578,-96.538323,NA
216,NaN,32.763100,-96.691117,NA
217,NaN,39.953858,-75.220078,NA
218,NaN,39.946612,-75.161841,NA
219,NaN,41.626655,-93.712166,NA
220,NaN,30.229288,-95.540378,77384
221,NaN,39.359474,-84.313732,45040
222,NaN,32.765020,-96.732776,75210
223,NaN,40.653780,-74.622336,07920
224,NaN,36.054144,-95.772984,74012
225,NaN,37.663490,-122.476731,94015
226,NaN,34.014938,-118.286198,90037
227,NaN,32.774698,-96.762150,NA
228,NaN,44.989116,-93.207498,55414
229,NaN,32.787891,-96.741371,75223
230,NaN,32.786817,-96.759687,75223
231,NaN,32.781824,-96.736688,75223
232,NaN,32.798273,-96.789814,75204
233,NaN,37.295533,-121.805482,75204
234,NaN,32.409056,-90.133425,75204
235,NaN,32.443154,-90.133326,75204
236,NaN,34.840988,-82.375628,75204
237,NaN,49.159731,-123.956074,75204
238,NaN,32.235194,-110.862927,85711
239,NaN,32.767569,-96.773156,75215
240,NaN,32.767569,-96.773156,75215
241,NaN,28.634796,-81.549644,32703
242,NaN,37.791142,-122.437624,94115
243,NaN,32.784852,-96.900838,75212
244,NaN,28.568518,-81.852628,34736
245,NaN,35.558930,-106.226814,87052
246,NaN,34.052234,-118.243685,NA
247,NaN,39.744740,-104.987864,80202
248,NaN,41.625765,-81.432182,44094
249,NaN,37.385218,-122.114130,NA
250,NaN,40.193377,-85.386360,NA
251,NaN,35.421263,-97.659715,73179
252,NaN,35.922026,-84.004908,37919
253,NaN,32.747256,-96.830410,75208
254,NaN,32.784392,-96.780185,75208
255,NaN,32.823208,-96.788941,75208
256,NaN,32.887436,-96.717291,75208
257,NaN,32.776664,-96.796988,NA
258,NaN,32.746954,-96.647506,75217