In [1]:
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

In [123]:
url_austin = r'https://en.wikipedia.org/wiki/List_of_Austin_neighborhoods'

In [186]:
table_austin = pd.read_html(url_austin)
table_austin = table_austin[0]
table_austin.drop(['COA ID#[nb 1]'], axis=1, inplace = True)
austin_neighborhoods = table_austin
austin_neighborhoods.rename(columns={'Name':'Neighborhood'}, inplace=True)
austin_neighborhoods.head()

      Neighborhood
0     Bryker Woods
1  Caswell Heights
2  Downtown Austin
3        Eastwoods
4          Hancock

In [17]:
url_dallas = r'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Dallas'

In [127]:
table_dallas = pd.read_html(url_dallas)
table_dallas_concat = pd.DataFrame(columns=["Neighborhood"])
for i in range(1, len(table_dallas)):
    temp_table = pd.DataFrame(table_dallas[i].iloc[:,1])
    temp_table.rename(columns={temp_table.columns[0]:"Neighborhood"}, inplace=True)
    table_dallas_concat = table_dallas_concat.append(temp_table, ignore_index=True)
    temp_table = []
dallas_neighborhoods = table_dallas_concat
dallas_neighborhoods.head()

            Neighborhood
0        Baylor District
1             The Cedars
2  Civic Center District
3   Dallas Arts District
4  Dallas Farmers Market

In [138]:
url_chicago = r'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago'
#url_chicago = r'https://en.wikipedia.org/w/index.php?title=List_of_neighborhoods_in_Chicago&action=edit&section=1'

In [147]:
table_chicago = pd.read_html(url_chicago)
table_chicago = table_chicago[0]
table_chicago.drop(['Community area'], axis=1, inplace=True)
chicago_neighborhoods = table_chicago
chicago_neighborhoods.head()
#table_chicago.drop(['COA ID#[nb 1]'], axis=1, inplace=True)
#table_chicago.head(50)

      Neighborhood
0      Albany Park
1  Altgeld Gardens
2    Andersonville
3   Archer Heights
4    Armour Square

In [208]:

import re
import requests
from bs4 import BeautifulSoup

In [225]:
jacksonville_neighborhoods = pd.DataFrame(columns=['Neighborhood'])
jacksonville_neighborhoods

Empty DataFrame
Columns: [Neighborhood]
Index: []

In [226]:
url_string=r'https://www.conservapedia.com/Neighborhoods_of_Jacksonville,_Florida'
page=requests.get(url_string)
page=page.text
soup=BeautifulSoup(page,features="html.parser")
results=soup.find_all("li", class_="toclevel-2")
for index, item in enumerate(results):
    area = item.find("span", class_="toctext").text
    jacksonville_neighborhoods = jacksonville_neighborhoods.append({'Neighborhood':area}, ignore_index=True) 
jacksonville_neighborhoods.head()
#for item in results:
#    print(item.text)

        Neighborhood
0             Argyle
1           Avondale
2        Cedar Hills
3  Confederate Point
4         Lake Shore

In [228]:
jacksonville_neighborhoods['Neighborhood'] = jacksonville_neighborhoods['Neighborhood'].map(lambda x: x +', Jacksonville, '+ 'Fl')
#mod_jacksonville_neighborhoods.rename(columns={0:'Neighborhood'}, inplace=True)
jacksonville_neighborhoods.head()

                                        Neighborhood
0         Argyle, Jacksonville, Fl, Jacksonville, Fl
1       Avondale, Jacksonville, Fl, Jacksonville, Fl
2    Cedar Hills, Jacksonville, Fl, Jacksonville, Fl
3  Confederate Point, Jacksonville, Fl, Jacksonvi...
4     Lake Shore, Jacksonville, Fl, Jacksonville, Fl

In [257]:
import json
from pandas.io.json import json_normalize

In [238]:
result = requests.post('https://maps.googleapis.com/maps/api/geocode/json?address=Argyle, + Jacksonville,+ Fl&key=AIzaSyCFwoAIHDAfrKNHZxUuUX0Z-Apz6zzyj9Y')
result

In [365]:
def get_lng_lat_zip(neighborhoods):
    location_lng_lat=pd.DataFrame(columns=['Longitude', 'Latitude'])
    for i in range(len(neighborhoods)):
        url = r'https://maps.googleapis.com/maps/api/geocode/json?address={}&key=AIzaSyCFwoAIHDAfrKNHZxUuUX0Z-Apz6zzyj9Y'.format(neighborhoods['Neighborhood'][i])
        r = requests.get(url)
        json_r = json.loads(r.text) 
        location_pd = json_normalize(json_r['results'])
        location_lng_lat_temp =  location_pd[['geometry.location.lat', 'geometry.location.lng']]
        location_lng_lat_temp.columns=['Longitude', 'Latitude']
        #location_lng_lat.append(location_lng_lat_temp, ignore_index=True)
        location_lng_lat = pd.concat([location_lng_lat, location_lng_lat_temp], ignore_index=True)
        #location_lng_lat.rename(columns={'geometry.location.lat':'lat', 'geometry.location.lng':'lng'}, inplace=True)
        #zipcode = location_pd['address_components']
        #location_lng_lat
    
    return location_lng_lat

In [311]:
location_pd['address_components'][0][5]['long_name']

'Florida'

In [312]:
jacksonville_neighborhoods['Neighborhood'][0]

'Argyle, Jacksonville, Fl, Jacksonville, Fl'

In [367]:
jacksonville_neighborhoods_zip = get_lng_lat_zip(jacksonville_neighborhoods)
jacksonville_neighborhoods_zip.head()

   Longitude   Latitude
0  30.194460 -81.743991
1  30.296769 -81.710315
2  30.253614 -81.756138
3  30.256893 -81.736310
4  30.280630 -81.726734

In [368]:
jacksonville_nb_lng_lat = pd.concat([jacksonville_neighborhoods,
                                     jacksonville_neighborhoods_zip],
                                    axis=1)
jacksonville_nb_lng_lat.head()

                                        Neighborhood  Longitude   Latitude
0         Argyle, Jacksonville, Fl, Jacksonville, Fl  30.194460 -81.743991
1       Avondale, Jacksonville, Fl, Jacksonville, Fl  30.296769 -81.710315
2    Cedar Hills, Jacksonville, Fl, Jacksonville, Fl  30.253614 -81.756138
3  Confederate Point, Jacksonville, Fl, Jacksonvi...  30.256893 -81.736310
4     Lake Shore, Jacksonville, Fl, Jacksonville, Fl  30.280630 -81.726734

In [369]:
zip_df = pd.read_csv('zip_code_database.csv')
zip_df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [405]:
zip_prac = zip_df.loc[(zip_df['longitude'] < -70) &
                      (zip_df['longitude'] > -70.05)]
zip_prac

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
809,2584,PO BOX,0,Nantucket,NaN,NaN,MA,Nantucket County,America/New_York,508,NaN,US,41.26,-70.01,1904
836,2659,STANDARD,0,South Chatham,NaN,NaN,MA,Barnstable County,America/New_York,508,NaN,US,41.68,-70.02,1060
838,2661,PO BOX,0,South Harwich,NaN,NaN,MA,Barnstable County,America/New_York,508,NaN,US,41.67,-70.04,365
840,2663,PO BOX,0,South Wellfleet,S Wellfleet,NaN,MA,Barnstable County,America/New_York,508,NaN,US,41.89,-70.01,611
843,2667,STANDARD,0,Wellfleet,NaN,NaN,MA,Barnstable County,America/New_York,"508,774",NaN,US,41.93,-70.03,2340
1407,4259,STANDARD,0,Monmouth,NaN,NaN,ME,Kennebec County,America/New_York,207,NaN,US,44.23,-70.01,2970
1427,4287,STANDARD,0,Bowdoin,W Bowdoin,West Bowdoin,ME,Sagadahoc County,America/New_York,207,NaN,US,44.04,-70.02,2820
1727,4955,STANDARD,0,New Sharon,NaN,NaN,ME,Franklin County,America/New_York,207,NaN,US,44.63,-70.01,1290

In [387]:
abs(jacksonville_nb_lng_lat.loc[0, 'Latitude']-.03)

81.7739915

In [388]:
abs(jacksonville_nb_lng_lat.loc[0, 'Latitude']+.03)

81.71399149999999

In [395]:
zip_prac = zip_df.loc[((zip_df['longitude'] > 70.71) &
                      (zip_df['longitude'] < 88.77))]
zip_prac

Empty DataFrame
Columns: [zip, type, decommissioned, primary_city, acceptable_cities, unacceptable_cities, state, county, timezone, area_codes, world_region, country, latitude, longitude, irs_estimated_population_2015]
Index: []